<%= link_to "Logout", logout_path, method: :delete %>

<h4>Add Link</h4>
<%= form_for(:link, url: links_path) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>

  <%= f.label :url %>
  <%= f.text_field :url %> <br>

  <%= f.submit "Add Link" %>
<% end %>
<br>

<div class="filter">
  <label>Filter By Title</label>
  <%= text_field :link, :filter_title %>
  <button class="sort-alpha ascending">Sort Ascending</button>
  <button class="sort-alpha descending">Sort Descending</button>
  <label>Filter By Status</label>
  <select id="link_filter_status">
    <option value="empty"></option>
    <option value="true">Read</option>
    <option value="false">Unread</option>
  </select>
</div>

<div id="links">Your Links
   <% @links.each do |link| %>
    <div class="link" data-title="<%= link.title %>" data-status="<%= link.read %>">
      <h6><%= link.title %></h6>URL:
      <span data="<%= link.id %>">
        <%= link.url %>
      </span>

      <%= link_to "Edit", edit_link_path(link) %>
      <button class="read-status" data="<%= link.id %>">
        <% if link.read == false %>
          <%= "Mark As Read" %>
        <% else %>
          <%= "Mark As Unread" %>
        <% end %>
      </button>
    </div>
  <% end %>
</div>
